{#
 # @license https://www.gnu.org/licenses/agpl-3.0.en.html AGPL-3.0+
 #
 # This file is part of Team Drive Migrator, an application for migrating
 # files into Team Drives.
 # Copyright (C) 2019  Anime Critics United, Inc. <webmaster@castlepointanime.com>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Affero General Public License as
 # published by the Free Software Foundation, either version 3 of the
 # License, or (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Affero General Public License for more details.
 #
 # You should have received a copy of the GNU Affero General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #}

{% extends "base.html.twig" %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}

Protecting your private information is our priority. This Statement of Privacy applies to https://migrator.castlepointanime.com and Anime Critics United, Inc. and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Anime Critics United, Inc. include https://migrator.castlepointanime.com and Team Drive Migrator. The Team Drive Migrator website is an internal application that allows volunteers to automatically change permissions on Google Drive files they have created in service of the corporation. By using the Team Drive Migrator website, you consent to the data practices described in this statement.


<h2>Collection of your Personal Information</h2>

<p>In order to better provide you with products and services offered on our Site, Team Drive Migrator may collect personally identifiable information, such as:

<ul>
	<li>Your first and last Name
  <li>Your e-mail address
  <li>An identifier for your Google account
  <li>Selected files and folders in your Google Drive
</ul

<p>We do not collect any personal information about you unless you voluntarily provide it to us. However, you may be required to provide certain personal information to us when you elect to use certain products or services available on the Site. These may include:

<ul>
	<li>registering for an account on our Site;
	<li>sending us an email message;
</ul>

<p>To wit, we will use your information for, but not limited to, communicating with you in relation to services and/or products you have requested from us. We also may gather additional personal or non-personal information in the future.


<h2>Use of your Personal Information</h2>

<p>Team Drive Migrator collects and uses your personal information to operate its website.

<ul>
	<li>We will use your Google account identifier to move Google Drive files on your behalf.
	<li>We may use your first name, last name, and e-mail address to contact you regarding your use of this site.
</ul>


<h2>Sharing Information with Third Parties</h2>

<p>Team Drive Migrator does not sell, rent or lease its customer lists to third parties.

<p>Team Drive Migrator may share data with trusted partners to operate its services, send you email, or provide customer support. All such third parties are prohibited from using your personal information except to provide these services to Team Drive Migrator, and they are required to maintain the confidentiality of your information.

<p>Team Drive Migrator may disclose your personal information, without notice, if required to do so by law or in the good faith belief that such action is necessary to:

<ul>
	<li>conform to the edicts of the law or comply with legal process served on Team Drive Migrator or the site;
	<li>protect and defend the rights or property of Team Drive Migrator; and/or
	<li>act under exigent circumstances to protect the personal safety of users of Team Drive Migrator, or the public.
</ul>


<h2>Automatically Collected Information</h2>

<p>Information about your computer hardware and software may be automatically collected by Team Drive Migrator. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Team Drive Migrator website.


<h2>Use of Cookies</h2>

<p>The Team Drive Migrator website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.

<p>One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize Team Drive Migrator pages, or register with Team Drive Migrator site or services, a cookie helps Team Drive Migrator to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same Team Drive Migrator website, the information you previously provided can be retrieved, so you can easily use the Team Drive Migrator features that you customized.

<p>You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Team Drive Migrator services or websites you visit.


<h2>Security of your Personal Information</h2>

<p>Team Drive Migrator secures your personal information from unauthorized access, use, or disclosure. Team Drive Migrator uses the following methods for this purpose:

<ul>
	<li>SSL Protocol
	<li>At-rest database encryption
	<li>Required two-factor authentication for system administrators
	<li>Audited access to user's personal information
</ul>

<p>When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.

<p>We strive to take appropriate security measures to protect against unauthorized access to or alteration of your personal information. Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, you acknowledge that: (a) there are security and privacy limitations inherent to the Internet which are beyond our control; and (b) security, integrity, and privacy of any and all information and data exchanged between you and us through this Site cannot be guaranteed.


<h2>Children Under Thirteen</h2>

<p>Team Drive Migrator does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.


<h2>E-mail Communications</h2>

<p>From time to time, Team Drive Migrator may contact you via email for the purpose of providing announcements, alerts, confirmations, surveys, and/or other general communication. In order to improve our Services, we may receive a notification when you open an email from Team Drive Migrator or click on a link therein. 

<p>If you would like to stop receiving marketing or promotional communications via email from Team Drive Migrator, you may opt out of such communications by clicking on the UNSUBSCRIBE button.


<h2>Changes to this Statement</h2>

<p>Team Drive Migrator reserves the right to change this Privacy Policy from time to time. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your account, by placing a prominent notice on our site, and/or by updating any privacy information on this page. Your continued use of the Site and/or Services available through this Site after such modifications will constitute your: (a) acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be bound by that Policy.


<h2>Contact Information</h2>

<p>Team Drive Migrator welcomes your questions or comments regarding this Statement of Privacy. If you believe that Team Drive Migrator has not adhered to this Statement, please contact Team Drive Migrator at:

<p>Anime Critics United, Inc.<br>
PO Box 925<br>
New York, New York 10116-0925

<p>Email Address: webmaster@castlepointanime.com

<p>Effective as of March 16, 2019

{% endblock %}